body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #f0efed;;
  color: #262521;
  font-weight: normal;
  font-size: 40px;
}

h2 {
  font-weight: bold;
  font-size: 80px;
}

#intro {
  display: flex;
  justify-content: center;
}

#intro > h1 {
  font-weight: bold;
  font-size: 100px;
}

.space {
  padding-left: 50px;
}

#lista {
  display: flex;
  padding: 0px 20px;
  padding-left: 0px;
  justify-content: center;
}

#lista > li {
  list-style-type: none;
  padding-left:50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
  #intro > h1 {
    font-size: 200px;
  }
}

a {
  color: #596E79;
}
